
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Songs by the same artist</h2>
<table id="SongListsArtist" class="table table-hover">
</table>
<h2>Songs in the same genre</h2>
<table id="SongListsGenre" class="table table-hover">
</table>
<h2>Songs that have similar durations</h2>
<table id="SongListsDuration" class="table table-hover">
</table>
<h2>Songs that have similar bpm</h2>
<table id="SongListsBpm" class="table table-hover">
</table>
<h2>Randomly handpicked by the algorithm</h2>
<table id="SongListsRelationship" class="table table-hover">
</table>